@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply m-0 p-0 box-border text-defaultSize select-none;
}

/* HEADER COMPONENT STYLES (HEADER.JSX) */
header{
    @apply bg-none text-white flex items-center h-24 relative md:mt-0 lg:mt-10;
}

header nav{
    @apply flex items-center justify-between;
}

header nav .menu-desktop{
    @apply hidden md:flex md:items-center bg-bgHeader backdrop-blur-lg h-full md:p-6 lg:w-830 absolute right-0;
}

header nav .menu-desktop .list-desktop{
    @apply ml-0 space-x-12 flex uppercase text-base font-normal xl:ml-24;
}

header nav img{
    @apply mt-1 ml-5 md:ml-10;
}

header nav .hr{
    @apply hidden absolute left-36 bg-white opacity-25 mix-blend-normal md:block lg:w-473;

}

.desktop-btn-position, .mobile-btn-position{
    @apply absolute right-7 focus:outline-none md:hidden;
}

.mobile-btn-position{
    @apply top-14;
}

.menu-mobile{
    @apply bg-bgMobile backdrop-blur-md h-screen fixed top-0 right-0 text-sm px-5 py-8 space-y-6 w-8/12 md:hidden
}

.menu-mobile-position{
    @apply uppercase text-sm absolute top-28 space-y-10 ml-6;
}

/* MENU LINKS DESIGN (NAVLINK.JSX) */
.menu-links{
    @apply font-barlowCondensed not-italic font-normal text-base leading-19 tracking-2 pb-6 
    hover:border-b-2 hover:border-solid hover:border-gray-400 md:pb-9 
    md:text-sm md:leading-17 md:tracking-two3 
    xl:text-base xl:leading-19 xl:tracking-two7;
}

.menu-links-active{
    @apply md:border-b-3 md:border-solid
}

/* GLOBAL */
/* BACKGROUND PROPERTIES */
.home, .destination, .crew, .technology{
    @apply min-h-screen bg-cover absolute top-0 right-0 left-0 -z-10 text-white lg:h-full;
}

.destination{
    @apply md:h-auto;
}

.h2, .heading-4{
    @apply not-italic font-normal
}

.h2{
    @apply font-barlowCondensed text-defaultSize leading-19 tracking-two7 uppercase pb-5 text-center 
           md:text-left md:leading-10 md:text-2xl 
           lg:text-heading5 lg:leading-34 lg:tracking-head5space;
}

.span{
    @apply font-bold opacity-25 mix-blend-normal mr-4;
}

.containerBox{
    @apply grid grid-cols-1 gap-3 lg:grid-cols-2 content-center
}

.heading-4{
    @apply font-bellefair text-2xl leading-28 uppercase text-white mb-5 mt-2 md:text-40 xl:text-56 xl:leading-54;
}

/* HOME COMPONENT STYLES (HOME.JSX) */
.homeBackground{
    /*Add background for homepage*/
    @apply bg-homeMobile md:bg-homeTablet lg:bg-homeDesktop overflow-hidden;
}

.home .hero{
    @apply w-full text-center px-20 flex flex-col items-center lg:px-40 lg:text-left lg:flex-row lg:justify-between;
}

.home .hero .heading-2,
.home .hero .heading-1,
.home .hero .text,
.home .btn{ 
    @apply not-italic font-normal
}

.home .hero .heading-2{
    @apply font-barlowCondensed text-defaultSize leading-19 text-center tracking-two7 text-specialBlue uppercase 
           md:text-2xl md:leading-6 md:tracking-three38 
           lg:text-left xl:text-heading5 xl:leading-34 xl:tracking-head5space;
}   

.home .hero .heading-1{
    @apply font-bellefair text-80 leading-100 uppercase text-center my-5 
           md:text-150 md:leading-150 
           lg:text-left 
           xl:text-150 xl:leading-172;
}

.home .hero .text{
    @apply font-barlow text-15 leading-25 text-center text-specialBlue mx-auto w-327
    md:text-base md:w-444 md:leading-7 
    lg:text-justify lg:mx-0
    xl:text-18 xl:leading-32;
} 

.home .btn{
    @apply font-bellefair text-xl leading-23 tracking-One25 text-specialBlk bg-white w-150 h-150 uppercase rounded-full 
    md:w-242 md:h-242 md:text-32 md:leading-37 md:tracking-2 
    lg:text-32 lg:w-212 lg:h-212 
    xl:w-274 xl:h-274;
}

/* DESTINATION COMPONENT (DESTINATION.JSX) */

.destinationBackground{
    /*Add background for destination page*/
    @apply bg-cover bg-destinationMobile md:bg-destinationTablet lg:bg-destinationDesktop;
}

.destination .img{
    @apply w-170 md:w-300 lg:w-445 mx-auto;
}

.destination .infoBox{
    @apply text-center pb-10 md:m-8 lg:m-0 lg:text-left lg:pb-0;
}

.destination .title{
    @apply font-bellefair not-italic font-normal text-56 leading-64 md:text-80 md:leading-92 uppercase md:mb-2 lg:text-100 lg:leading-115;
}

.destination .description{
    @apply w-80 font-barlow not-italic font-normal text-15 leading-25 text-center text-specialBlue mx-auto border-b border-borderBlk pb-8 md:text-base md:w-573 md:leading-7 md:pb-14 lg:text-18 lg:w-444 lg:pb-10 lg:mx-0 lg:leading-32 lg:text-justify;
}

.destination .stats-container{
    @apply grid grid-cols-1 pt-8 lg:pt-6 md:mx-auto md:grid-cols-2 md:w-2/3 lg:gap-4 lg:mx-0;
}

.destination .stats-design{
    @apply font-barlowCondensed not-italic font-normal text-sm leading-17 tracking-two3 uppercase text-specialBlue pb-5 md:pb-8;
}

.destination .stats-results{
    @apply block font-bellefair not-italic font-normal text-heading5 leading-8 text-white mt-2 md:leading-32 md:mt-3 lg:mt-2;
}

/* CREW COMPONENT STYLES (CREW.JSX) */
.crewBackground{
    /*Background for screens breakpoint*/
    @apply bg-crewMobile md:bg-crewTablet lg:bg-crewDesktop;
}

.crew .nav-mobile{
    @apply pt-5 flex items-center justify-center md:pt-0 md:hidden
}

.crew .nav-mobile .list{
    @apply flex items-center justify-center md:justify-start md:mb-10;
}

.crew .desk-content{
    @apply text-center lg:text-left font-bellefair not-italic font-normal;
}

.crew .desk-content .heading-3{
    @apply font-bellefair not-italic font-normal text-15 leading-18 uppercase text-white mix-blend-normal opacity-50 mt-2 md:text-defaultSize md:leading-28 xl:text-32 xl:leading-37
}

.crew .text{
    @apply w-458 font-barlow not-italic font-normal text-15 leading-25 text-center text-specialBlue mx-auto md:text-defaultSize md:leading-28 md:mb-0 xl:text-left xl:text-18 xl:mx-0 xl:mb-10 xl:w-444 xl:leading-32
}

.crew .img{
    @apply hidden md:block md:w-456 lg:absolute md:mx-auto md:bottom-0 xl:left-1/2 xl:w-568 xl:h-712;
}

/* TECHNOLOGY COMPONENT STYLE (CREW.JSX) */
.technologyBackground{
    /*Add background for homepage*/
    @apply bg-technologyMobile md:bg-technologyTablet lg:bg-technologyDesktop;
}

.technology .text1{
    @apply w-2/3 md:w-7/12 mx-auto font-barlow not-italic font-normal text-sm leading-6 text-specialBlue md:mx-0 md:mb-0
}

.technology .techBox{
    @apply flex flex-col-reverse justify-center items-center lg:flex-row lg:px-32;
}

.technology .btnInfo{
    @apply text-center md:text-left font-bellefair not-italic font-normal md:flex;
}

.technology .boxBtn{
    @apply flex justify-center items-center md:flex-col py-5 md:py-0 md:space-y-8
}

.technology .list{
    @apply font-bellefair font-normal text-white mr-4 md:mr-14 text-xl;
}

.technology .btnDesign{
    @apply pt-1 h-12 w-12  border border-white border-opacity-25 rounded-full;
}

.technology .heading-5{
    @apply text-lg md:text-lg font-barlowCondensed text-specialBlue uppercase mix-blend-normal opacity-50
}








